.page-home {
    background: #590B0B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

.page-home .blackfex-logo {
    position: absolute;

    width: 25vh;
    height: 5vh;
    left: 1.5vw;
    top: 1.5vw;
}

.page-home .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-home .perfil img {
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    box-shadow: 0 0 25px #FFFAB9;

    width: 22vh;
    height: 22vh;
}

.page-home .perfil .nome {
    color: #FFFAB9;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-family: Roboto, sans-serif;

    margin-top: 2.2vh;
    margin-bottom: 0.1vh;
    font-size: 2rem;
}

.page-home .perfil .cargo {
    color: #FFFAB9;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-family: Roboto, sans-serif;

    font-size: 1.3rem;
}

.page-home .botoes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-home .botoes-container .linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-home .botoes-container .linha .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    background: #A62424;
    color: #FFFAB9;
    font-family: Roboto, sans-serif;

    font-size: 1.3rem;
    border-radius: 14px;
    width: 37vh;
    height: 23vh;
    margin: 2vh;

    transition: 0.7s;
}

.page-home .botoes-container .linha .btn:hover {
    background: #A60A0A;

    border-radius: 22px;
}

.page-home .botoes-container .linha .btn img {
    width: 7vh;
    height: 7vh;
    margin-bottom: 1vh;
}